:root {
	--primario: #013E6A;
	--secundario: #000;
}
/* Globales */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {	
	font-family: 'Quicksand', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('https://images.unsplash.com/photo-1506102383123-c8ef1e872756?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
	background-size: cover;		
	background-position-x: center;
}
.contenedor {
	width: 50%;	
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 60vh;	
	display: grid;
	place-items: center;	
}
.margen {
	width: 100%;
	padding: 1rem;
	display: grid;		
}
@media (width <= 480px) {	
	.contenedor {
		width: auto;
		display: grid;
		place-items: center;
	}
	.margen {				
		place-items: center;	
	}
}
.header {
	margin-bottom: 2rem;
	text-align: center;
}
.label-text {
	display: block;	
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
}
.contenedor-radio {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 1rem;
}
.contenedor-ausentismo {
	display: none;	
}
.contenedor-radio,
.contenedor-ausentismo.activo {
	display: grid;
	grid-template-columns: repeat(
		auto-fit, 
		minmax(200px, 1fr)
	);	
}
.registro {
	display: none;	
}
.registro.activo {
	display: block;	
	width: 100%;
}
@media (width <= 780px) {	
	.label-radio:before, 
	.label-ausentismo:before {
		width: 100%;	
	}
}
@media (width <= 480px) {	
	.label-radio:before, 
	.label-ausentismo:before {
		display: grid;	
		width: 100%;	
	}
}
input[type="text"] {
	height: 3rem;
	line-height: 1rem;
	font-size: 1rem;
	width: 100%;
	border: none;
	border-radius: .5rem;
	padding: 0 2rem 0 2.5rem;
	margin-bottom: 1rem;
	background: #f4f8f7;
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: .7px solid transparent;
	transition: .3s ease all;
}
.contenedor-boton {
	display: flex;
	justify-content: center;
}
button {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
	background: none;
	height: 50px;
	color: var(--primario);
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	border: 2px solid var(--primario);
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

/* Tipografia */
.header h1 {
	color: var(--primario);
}

.header p {
	color: var(--secundario);
}

/* Autenticación */
.auth {
	display: none;
}
.auth.activo {
	display: grid;
	place-items: center;
	width: auto;
}

/* Utilidades */
.label-radio, 
.label-ausentismo {
	position: relative;
	color: #030705;
	font-size: 1rem;
	border: 2px solid var(--secundario);
	border-radius: 5px;
	padding: .5rem;
	margin: .5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.label-radio:before, 
.label-ausentismo:before {
	content: "";
	height: 1rem;
	width: 1rem;
	border: .2rem solid var(--secundario);;
	border-radius: 50%;
	margin: .5rem;
	justify-content: center;
	padding: 3px;	
}
input[type="radio"]:checked + .label-radio{
	background-color: var(--primario);
	color: white;
}
input[type="radio"]:checked + .label-radio:before {
	height: 1rem;
	width: 1rem;
	border: 4px solid white;
	color: white;	
}
input[type="radio"]:checked + .label-ausentismo {
	background-color: var(--primario);
	color: white;
}
input[type="radio"]:checked + .label-ausentismo:before {
	height: 1rem;
	width: 1rem;
	border: 4px solid white;
	color: white;
}
.calamidad {
    width: auto;
}
.nombre {
	cursor: not-allowed;
}
.textarea {
	height: 6rem;
	width: 19rem;
}
.contenedor-input {
	position: relative;
}
input[type="radio"] {
	display: none;
}
@media (width <= 780px) {		
	.label-radio,
	.label-ausentismo {
		height: auto;
		justify-content: left;
	}
}
@media (width <= 410px) {			
	.label-radio,
	.label-ausentismo {
		height: auto;
	}	
	.calamidad {
		width: 80%;
	}
}
.mensaje {
	width: auto;
}
.contenedor-input svg {
	position: absolute;
	color: var(--primario);
	top: 17px;
	left: 17px;
} 
textarea {
	resize: none;	
	height: 6rem;
	line-height: 1.2rem;
	font-size: 1rem;
	width: 100%;
	border: none;	
	padding: 1rem .5rem;
	background: #f4f8f7;
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: .5rem solid transparent;
	transition: .3s ease all;
}
input:focus, textarea:focus {
	outline: none;
	border: .2rem solid var(--primario);
}
button:hover {
	background: var(--primario);
	color: #fff;
}
button svg {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

/* Mensaje exito */
.exito {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.exito.activo {
	display: flex;
}
.exito svg {
	width: 50px;
	height: 50px;
	color: var(--primario);
}