:root {
	--primario: #013E6A;
	--secundario: #000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #F0F4F3;
	font-family: 'Quicksand', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('https://images.unsplash.com/photo-1542751110-97427bbecf20?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1984&q=80');
	background-size: cover;
}

.contenedor {
	width: auto;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 50vh;
	
	display: grid;
	grid-template-columns: 1fr;
}
.margen {
	width: auto;
	padding: 1rem;
	display: grid;	
}
@media (width <= 780px) {	
	.contenedor {		
		max-width: 95%;
	}
	.margen {		
		width: 10%;	
		place-items: center;	
	}
}
.header {
	margin-bottom: 40px;
	text-align: center;
}

.header h1 {
	color: var(--primario);
}

.header p {
	color: var(--secundario);
}

.auth {
	display: none;
}
.auth.activo {
	display: block;
}

.label-text {
	margin-bottom: .5rem;
	display: block;	
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
}
.contenedor-radio {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 1rem;
}
.contenedor-ausentismo {
	display: flex;
    flex-direction: row;
    justify-content: left;
}
.label-radio, 
.label-ausentismo {
	position: relative;
	color: #030705;
	font-size: 1rem;
	border: .1rem solid var(--secundario);
	padding: .5rem;
	margin: .5rem;
	display: flex;
	min-width: 13%;
	cursor: pointer;
}
.label-radio:before, 
.label-ausentismo:before {
	content: "";
	height: 1rem;
	width: 1rem;
	border: .2rem solid var(--secundario);;
	border-radius: 50%;
	margin-right: .2rem;
}
input[type="radio"]:checked + .label-radio{
	background-color: var(--primario);
	color: white;
}
input[type="radio"]:checked + .label-radio:before {
	height: 1rem;
	width: 1rem;
	border: .22rem solid white;
	color: white;
	/* background-color: var(--primario); */
}

input[type="radio"]:checked + .label-ausentismo {
	background-color: var(--primario);
	color: white;
}

input[type="radio"]:checked + .label-ausentismo:before {
	height: 1rem;
	width: 1rem;
	border: .22rem solid white;
	color: white;
	/* background-color: var(--primario); */
}
.textarea {
	height: 6rem;
	width: 19rem;
}
.contenedor-input {
	position: relative;
}

input[type="radio"] {
	display: none;
}
.contenedor-ausentismo {
	display: none;	
}
.contenedor-ausentismo.activo {
	display: block;
}
@media (width <= 780px) {		
	.label-radio,
	.label-ausentismo {
		width: auto;
		height: auto;
		justify-content: left;
	}
}
@media (width <= 480px) {		
	.label-radio,
	.label-ausentismo {
		height: auto;
		width: auto;
	}
}
.registro {
	display: none;	
}

.registro.activo {
	display: block;
}
@media (width <= 480px) {
	.registro {	
		width: 22rem;		
	}
	.label-radio:before, 
	.label-ausentismo:before {
		width: 1rem;				
		margin: auto;
	}
}
.exito {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.exito.activo {
	display: flex;
}

.exito svg {
	width: 50px;
	height: 50px;
	color: var(--primario);
}

input[type="text"] {
	height: 3rem;
	line-height: 1rem;
	font-size: 1rem;
	width: 100%;
	border: none;
	border-radius: .5rem;
	padding: 0 3rem 0 2.5rem;
	margin-bottom: 1rem;
	background: #f4f8f7;
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: .7rem solid transparent;
	transition: .3s ease all;
}
.mensaje {
	width: auto;
}
textarea {
	resize: none;	
	height: 6rem;
	line-height: 1.2rem;
	font-size: 1rem;
	width: 100%;
	border: none;	
	padding: 1rem .5rem;
	background: #f4f8f7;
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: .5rem solid transparent;
	transition: .3s ease all;
}
input:focus, textarea:focus {
	outline: none;
	border: .2rem solid var(--primario);
}

.contenedor-input svg {
	position: absolute;
	color: var(--primario);
	top: 17px;
	left: 17px;
} 

.contenedor-boton {
	display: flex;
	justify-content: center;
}

button {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
	background: none;
	height: 50px;
	color: var(--primario);
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	border: 2px solid var(--primario);
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

button:hover {
	background: var(--primario);
	color: #fff;
}

button svg {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}